.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  width: 200px;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 42px;
  transition: all 0.15s ease-in-out;

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 400px;
    @media (max-width: 1100px) {
      width: 200px;
    }
    @media (max-width: 645px) {
      width: 250px;
    }
  }

  @media (max-width: 645px) {
    margin: 20px 0;
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 12px;

  @media (max-width: 645px) {
    margin: 20px 0;
  }
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  @media (max-width: 645px) {
    margin: 20px 0;
  }
}